body {
  background-color: $pine;
  font-size: 16px;
  color: $drab;

  @include resp (mobile) {
    margin: 16px 2%;
  }

  @include resp (tablet) {
  }
}

.container {
  background-color: $light-grey-two;
  box-sizing: border-box;

  @include resp (mobile) {
    width: 100%;
    min-height: calc(100vh);
    padding: 64px 8.3% 0;
  }

  @include resp (tablet) {
    width: 750px;
    margin: 0 auto;
    padding: 32px 8px;
  }
}

.date-container {
  @include clearfix;
  margin-bottom: 19px;
  font-size: 24px;

  .date {
  }

  .month {
  }

  .year {
  }

  .day {
  }
}

.input-container {
  width: 100%;
  height: 48px;

  .input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    box-shadow: none;
    border: 0;
    font-size: 24px;
    padding: 0 0.5em;

    box-sizing: border-box;
    color: $light-grey-two;

    &::placeholder {
      color: $light-grey-two;
    }

    &:focus {
      outline: none;
    }
  }
}

.task-container {
  padding: 32px 0;
}

.task-row {
  font-size: 16px;
  line-height: 32px;

  .label {
    line-height: 32px;
  }

  .checkbox {
  }
}
